/* FONTS */
/* font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Titan One', cursive;*/
/* COLORS */
/* color: #5271FF;
color: #EC3655;
color: #FF914D;
color: #FFDE59; */
.nav-items {
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  font-size: 1.3rem;
  color: #000000
}

.nav-link:focus, .nav-link:hover {
  color: #EC3655;
}

/* BANNER */
.banner-heading {
  font-family: 'Rubik Moonrocks', cursive;
  color: #EC3655;
  font-size: 5.2rem;
  font-weight: bolder;
}

.banner-lead {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  align-content: center;
}

.btn {
  border: #EC3655;
}

.banner-btn1 {
  background-color: #FF914D;
  color: #FFFFFF;
}

.banner-btn2 {
  background-color: #5271FF;
  color: #FFFFFF;
}

.banner-btn1:hover {
  background-color: #EC3655;
  color: #FFFFFF;
}

.banner-btn2:hover {
  background-color: #9747FF;
  color: #FFFFFF;
}

/* ANIMATED BACKGROUND THEME */
.circles {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 15px;
  height: 15px;
  background: #fff;
  animation: animate 15s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 20%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
  animation-duration: 12s;
  border: solid 4px #cc0001;
  background: transparent;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  border: solid 4px #ffffff;
  background: transparent;
}

.circles li:nth-child(3) {
  left: 80%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  border: solid 4px #7CFC00;
  background: transparent;
}

.circles li:nth-child(4) {
  left: 60%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 6s;
  border: solid 4px white;
  background: transparent;
}

.circles li:nth-child(5) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 1s;
  border: solid 4px #4166F5;
  background: transparent;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 15px;
  height: 15px;
  animation-delay: 6s;
  border: solid 4px yellow;
  background: transparent;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 5s;
  border: solid 5px #7CFC00;
  background: transparent;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 18px;
  height: 18px;
  animation-delay: 15s;
  animation-duration: 8s;
  border: solid 4px #4166F5;
  background: transparent;
}

.circles li:nth-child(9) {
  left: 60%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 6s;
  border: solid 4px red;
  background: transparent;
}

.circles li:nth-child(10) {
  left: 25%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 6s;
  border: solid 4px #7CFC00;
  background: transparent;
}

.circles li:nth-child(11) {
  left: 45%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 5s;
  border: solid 4px #FFF44F;
  background: transparent;
}

.circles li:nth-child(12) {
  left: 75%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 7s;
  border: solid 4px #FFF44F;
  background: transparent;
}

.circles li:nth-child(13) {
  left: 58%;
  width: 15px;
  height: 15px;
  animation-delay: 4s;
  animation-duration: 6s;
  border: solid 4px #FFF44F;
  background: transparent;
}

.circles li:nth-child(14) {
  left: 42%;
  width: 25px;
  height: 25px;
  animation-delay: 3s;
  animation-duration: 5s;
  border: solid 4px #4166F5;
  background: transparent;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 20%;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }
}

/* ABOUT SECTION */
.about-wrapper {
  background-color: #5271FF;
  padding: 5em 5em 2em 5em;
}

.about-heading {
  font-family: 'Titan One', cursive;
  color: #FFFFFF;
  font-size: 5.2rem;
}

.about-lead {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  align-content: center;
  color: #FFFFFF;
  text-align: justify;
}

/* SCHEDULE SECTION */
td{
  padding: 1rem;
  padding-right: 2.5rem;
  font-size: 1rem;
}

.schedule-wrapper {
  font-family: 'Inconsolata', monospace;
  padding: 5em 5em 2em 5em;
}

.schedule-heading {
  font-family: 'Rubik Moonrocks', cursive;
  color: #EC3655;
  font-size: 5.2rem;
  font-weight: bolder;
}

.schedule-subheading1 {
  color: #5B36D8;
  font-family: 'Titan One', cursive;
  font-size: 2.8rem;
  font-weight: 300;
}

.schedule-subheading2 {
  color: #CF2283;
  font-family: 'Titan One', cursive;
  font-size: 2.8rem;
  font-weight: 300;
}

.schedule-subheading3 {
  color: #D52242;
  font-family: 'Titan One', cursive;
  font-size: 2.8rem;
  font-weight: 300;
}

.schedule-subheading4 {
  color: #5B36D8;
  font-family: 'Titan One', cursive;
  font-size: 2.8rem;
  font-weight: 300;
}

.schedule-icon {
  width: 4rem;
  height: 4rem;
}

/* FAQS */
.faq-wrapper {
  background-color: #EC3655;
  padding: 5em 5em 2em 5em;
}

.faq-heading {
  font-family: 'Titan One', cursive;
  color: #FFDE59;
  font-size: 5.2rem;
}

.faq-lead {
  font-family: 'Inconsolata', monospace;
  font-size: 1.1em;
  align-content: center;
  color: #FFFFFF;
}

.theme {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50);
}

.theme-wrapper {
  font-family: 'Inconsolata', monospace;
  padding: 5em 5em 2em 5em;
}

.theme-heading {
  font-family: 'Rubik Moonrocks', cursive;
  color: #4166F5;
  font-size: 5.2rem;
  font-weight: bolder;
}

.theme-subheading {
  font-family: 'Inconsolata', monospace;
  color: #4166F5;
  font-size: 2.2rem;
  font-weight: bolder;
}

.theme-icon {
  color: #4166F5;
}

/* SPONSORS */
.sponsor-wrapper {
  font-family: 'Inconsolata', monospace;
  padding: 5em 5em 2em 5em;
}

.sponsor-heading {
  font-family: 'Rubik Moonrocks', cursive;
  color: #EC3655;
  font-size: 5.2rem;
  font-weight: bolder;
}

.sponsor-subheading{
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 2.9rem;
  font-weight: bolder;
  color: #FF914D;
  padding: 2rem;
}

.logo{
  height: auto;
  width: 13rem;
  margin: 2em;
}

.prizes-wrapper {
  font-family: 'Inconsolata', monospace;
  padding: 5em 5em 2em 5em;
  background-color: #5B36D8;
  color: white;
}

.prizes-heading {
  font-family: 'Titan One', cursive;
  color: white;
  font-size: 5.2rem;
  font-weight: bolder;
}

.prizes-subheading{
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  font-weight: 800;
}


/* FOOTER */
#footer {
  background: #5B36D8;
  font-size: 1.6rem;
  text-align: center;
  padding: 30px 0;
}

.footer-social a {
  color: #FFFFFF;
  padding-right: 2.2rem;
}

.footer-social a i:hover {
  color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50);
}

/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #FFFFFF;
  line-height: 0;
}

/* MEDIA QUERIES */
@media (max-width:376px) {
  .banner-img {
    display: none !important;
  }

  .nav-items {
    font-size: 1.1rem;
  }

  .py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .banner-heading {
    font-size: 4.2rem;
  }

  .banner-lead {
    font-size: 1.1em;
  }

  .about-wrapper {
    background-color: #5271FF;
    padding: 3rem;
  }

  .about-heading {
    font-size: 3.3rem;
  }

  .about-lead {
    font-size: 1.1em;
  }
  
  .schedule-icon{
    display: none;
  }

  .schedule-wrapper {
    padding: 3rem;
  }

  .schedule-heading {
    font-size: 3.2rem;
  }

  .faq-wrapper {
    padding: 3rem;
  }

  .faq-heading {
    font-size: 3.3rem;
  }

  .faq-lead {
    font-size: 1.1em;
  }

  .theme-wrapper {
    padding: 3rem;
  }

  .theme-heading {
    font-size: 3.2rem;
  }

  .theme-subheading {
    font-size: 1.2rem;
  }

  .faq-lead .p-5 {
    padding: 0.1rem !important;
  }

  .sponsor-wrapper {
    padding: 3rem;
  }

  .sponsor-heading {
    font-size: 3.2rem;
  }
  
  .prizes-wrapper{
    padding: 3rem;
  }

  .prizes-heading {
    font-size: 3.2rem;
  }

  .prizes-subheading{
    font-size: 1.9rem;
  }

  .back-to-top i {
    display: none;
  }
}

@media (max-width:996px) {
  .nav-items {
    font-size: 1.3rem;
  }

  .py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .banner-heading {
    font-size: 4.2rem;
  }

  .banner-lead {
    font-size: 1.1em;
  }

  .about-wrapper {
    padding: 3rem;
  }

  .about-heading {
    font-size: 3.3rem;
  }

  .about-lead {
    font-size: 1.1em;
  }

  .schedule-wrapper {
    padding: 3rem;
  }

  .schedule-heading {
    font-size: 3.2rem;
  }

  .faq-wrapper {
    padding: 3rem;
  }

  .faq-heading {
    font-size: 3.3rem;
  }

  .faq-lead {
    font-size: 1.1em;
  }

  .theme-wrapper {
    padding: 3rem;
  }

  .theme-heading {
    font-size: 3.2rem;
  }

  .theme-subheading {
    font-size: 1.2rem;
  }

  .faq-lead .p-5 {
    padding: 0.1rem !important;
  }

  .sponsor-wrapper {
    padding: 3rem;
  }

  .sponsor-heading {
    font-size: 3.2rem;
  }
  
   .prizes-wrapper{
    padding: 3rem;
  }

  .prizes-heading {
    font-size: 3.2rem;
  }

  .prizes-subheading{
    font-size: 1.9rem;
  }
}
